body {
    margin: 0;
    background-color: $lighter-pink;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

    color: $black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}